
    body {
        font-family: 'Atkinson Hyperlegible', Arial, sans-serif;
        text-shadow: #19ff3b39;
        color: #19ff3bc5;
        background-image: ("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn5MDHNWayYi1jCO5TOINVy7vt2yWLVe_PQ_idXYdfNzlVsuwSFwpQvd1DiKlvCAEyIDw&usqp=CAU");
        font-weight: bold;
        margin: 0;
        padding: 0;
        background-color:#1b0f0e;
        
    }
    .button {
        display: block;
        background-color:#00ab1a;
        color: #1b0f0e;
        border:none;
        border-radius:10px;
        box-shadow: 0px 0px 20px 2px #03ff29;
    }
    
    .bg {
        /* The image used */
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn5MDHNWayYi1jCO5TOINVy7vt2yWLVe_PQ_idXYdfNzlVsuwSFwpQvd1DiKlvCAEyIDw&usqp=CAU");
      
        /* Full height */
        height: 100%;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-size: cover;
    }
    .button:hover{
        display: block;
        background-color:#1b0f0e;
        color: #00ab1a;
        border:none;
        border-radius:10px;
        box-shadow: 0px 0px 40px 10px #050d06;
        transition: 0.5S;
    }
    h1 {
        font-weight: bold;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    
    label {
        margin-bottom: 8px;
    }
    .textfield{
        border: none;
        color: #009c15;
        background-color:#1b0f0e65;
        border-radius: 20px;
    }
    .header{
        margin: auto;
        text-align: center;
        padding: 10px;
    }
    .login  {
        max-width: 10%;
        margin: auto;
        position: absolute;
        right: 10%;
        top: 10%;
    }
    .rechner {
        max-width: 600px;
        margin: 0px auto;
        background-color: #1d44187c;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 30px #19ff3b81;
    }
    .submit  {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 3% auto;
    }
  